<link
  rel="preload"
  href="/assets/fonts/alegreya-sans/400.woff2"
  as="font"
  type="font/woff2"
/>

<link
  rel="preload"
  href="/assets/fonts/alegreya-sans/700.woff2"
  as="font"
  type="font/woff2"
/>
