---
layout: layouts/base
title: Notes
description: Andrey’s thoughts on everything
---

<h2>Notes</h2>

{% for year, notes in collections.notes | groupByPublicationYear %}
<section>
  <h3>{{ year }}</h3>

  <ul>
    {% for note in notes %}
    <li>
      <a href="{{ note.url }}">{{ note.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
