:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-selection);
}

html,
body {
  height: 100%;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  background: var(--color-foreground);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

pre,
code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}
