a,
.link
{
  color: #005ea5;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active,
.link:hover,
.link:focus,
.link:active,
.link_active
{
  text-decoration: none;
  background-color: #57a2db;
  outline: 2px solid #57a2db;
  color: #fff;
}
