.page {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  max-width: calc(var(--readable-text-width) * 2);
  min-height: 100vh;
  padding-left: calc(1rem + 1vw);
  padding-right: calc(1rem + 1vw);
}

.page__header,
.page__footer {
  flex: none;
}

.page__header {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.page__content {
  flex: 1 0 auto;
}
