.paragraph
{
  @include readable-text-width();
  padding-bottom: 1em;
}

.caps
{
  text-transform: uppercase;
  letter-spacing: .1em;
}

.muted
{
  color: rgba(0, 0, 0, .2);
  transition: color .2s;
}

.muted:hover
{
  color: rgba(0, 0, 0, .4);
}

.nobr
{
  white-space: nowrap;
}

