:root
{
  --base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --base-line-height: 1.5;

  --readable-heading-width: 30em;
  --readable-text-width: 36em;

  --h1-size: calc(1.5em + 1vw);
  --h2-size: calc(1.15em + 1vw);
  --h3-size: calc(1em);
}
