---
title: Andrey Romanov, front-end web developer
description: I live in Moscow (Russia) and work at Sticker.place. I’m passionate about design and music.
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {% if coverUrl %}
    <meta property="og:image" content="{{ coverUrl }}">
    {% endif %}

    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="alternate" href="/notes/feed.xml" type="application/atom+xml" />
  </head>

  <body>
    <div class="page">
      <header class="page__header header">
        <img class="header__avatar" src="/assets/images/avatar.jpg" alt="Personal photo">

        <div class="header__content">
          <h1 class="header__title">Andrey Romanov</h1>
          <nav>
            <ul class="navigation">
              <li class="navigation__item"><a href="/">About</a></li>
              <li class="navigation__item"><a href="/notes">Notes</a></li>
              <li class="navigation__item"><a href="/books">Books</a></li>
              <li class="navigation__item"><a href="/tools">Tools</a></li>
              <li class="navigation__item"><a href="/timeline">Timeline</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="page__content">
        {{ content | safe }}
      </main>

      <footer class="page__footer footer">
        <ul class="navigation">
          <li class="navigation__item"><a href="https://github.com/andrew--r">GitHub</a></li>
          <li class="navigation__item"><a href="https://t.me/andrew_r">Telegram</a></li>
        </ul>
      </footer>
    </div>
  </body>

</html>
