---
title: Andrey Romanov, front-end web developer
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="page">
    <header class="page__header header">
      <img class="header__avatar" src="/avatar.jpg" alt="Personal photo">

      <div class="header__content">
        <h1 class="header__title">Andrey Romanov</h1>
        <nav>
          <ul class="navigation">
            <li class="navigation__item"><a href="/">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
      {{ content | safe }}
    </div>
  </body>

</html>
