---
layout: layouts/base
---

<article class="article" itemtype="http://schema.org/BlogPosting" itemscope="">
  <header class="article__header">
    {% if coverUrl %}
    <img src="{{ coverUrl }}" alt="">
    {% endif %}

    <time datetime="{{ publicationDate | dateToIsoString }}" itemprop="datePublished">
      {% formattedDate publicationDate %}
    </time>
    <h2 itemprop="name headline">{{ title }}</h2>
  </header>

  <div itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
