---
layout: layouts/base
title: Notes
description: Andrey’s thoughts on everything
---

{% for year, notes in collections.note | groupByPublicationYear %}
<section class="notes__section">
  <h2>{{ year }}</h2>

  <ul>
    {% for note in notes %}
    <li>
      <a href="{{ note.url }}">{{ note.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
