*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

img {
  display: block;
  max-width: 100%;
}
