@import './design-tokens.css';
@import './links.css';

/* Base styles */
:root {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--typo-font-family);
  font-size: var(--typo-font-size);
  line-height: var(--typo-line-height);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2,
h3,
p,
ul {
  max-width: var(--readable-line-width);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: calc(0.5em * var(--typo-line-height));
}

/* Page */
.page {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  max-width: var(--site-width);
  margin: auto;
  padding: var(--typo-baseline);
}

.page__header,
.page__footer {
  flex: none;
}

.page__content {
  flex: 1 0 auto;
  padding: calc(var(--typo-baseline) * 3) 0;
}

.page__content :first-child {
  margin-top: 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
}

.header__avatar {
  display: block;
  width: calc(var(--typo-baseline) * 2);
  height: calc(var(--typo-baseline) * 2);
  margin-right: calc(var(--typo-baseline) * 0.75);
  object-fit: cover;
  border-radius: 100%;
}

.header__title {
  font-size: 1em;
}

/* Footer */
.footer {
  padding-top: var(--typo-baseline);
  font-size: calc(--typo-size-s);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* Navigation */
.navigation,
.navigation__item {
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  margin-right: 0.5em;
}

/* Page content */
.page__content h2,
.page__content h3,
.page__content p,
.page__content ul,
.page__content img {
  margin: var(--typo-baseline) 0;
}

.page__content h2 + p,
.page__content h3 + p {
  margin-top: calc(var(--typo-baseline) * -0.75);
}

.page__content ul {
  padding-left: 1em;
}

.page__content img {
  display: block;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Article */
.article__header time {
  color: var(--color-text-muted);
}

.article__header h2 {
  margin-top: 0;
}

/* Text */
.text_muted {
  color: var(--color-text-muted);
}
