a,
.link {
  color: var(--color-primary);
  text-decoration: underline;
}

a:hover,
a:focus,
a:active,
.link:hover,
.link:focus,
.link:active,
.link_active {
  text-decoration: none;
  background-color: var(--color-primary-light);
  outline: 2px solid var(--color-primary-light);
  color: #fff;
}
