.link_unstyled,
.link_unstyled:matches(:hover, :focus, :active, :visited) {
  color: inherit;
  text-decoration: none;
}

a:not(.link_unstyled),
.link:not(.link_unstyled) {
  color: var(--color-primary);
  text-decoration: underline;
}

a:not(.link_unstyled):matches(:active),
.link:not(.link_unstyled):matches(:active, .link_active) {
  text-decoration: none;
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  color: #fff;
}
