---
layout: layouts/base
title: Закладки
description: Стоящие внимания материалы
---
{% from "components/bookmark/index.njk" import bookmarkView %}

<h1>{{ title }}</h1>
<p class="subtitle">{{ description }}</p>

{% for bookmark in collections.bookmarks | sort(true, false, 'fileSlug') %}
  {{ bookmarkView(bookmark) }}
{% endfor %}
