.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__avatar {
  width: 5em;
  height: 5em;
  margin-right: 1.25em;
  margin-bottom: 0.75em;
  object-fit: cover;
  border-radius: 100%;
}

.header__logo {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}
