{% from "components/rating/index.njk" import ratingView %}

{% macro bookView(book) %}
<article class="h-entry" id="{{ book.fileSlug }}">
  <div class="text_muted" >
    <time datetime="{{ book.date | dateToIsoString }}" itemprop="datePublished">
      {% formatDate book.date %}
    </time>
    •
    {{ ratingView(book.data.rating) }}
  </div>

  <h2><a href="{{ book.data.url }}" class="p-name">{{ book.data.title }}</a></h2>
  <p class="text_muted">by {{ book.data.author }}</p>

  {% if book.templateContent %}
    <div class="e-content">{{ book.templateContent | safe }}</div>
  {% endif %}
</article>
{% endmacro %}
