---
layout: layouts/base
title: Books
description: What Andrey read
---

<h2>Books</h2>

{% for year, yearBooks in books | groupby("year") | dictsort | reverse %}
<section>
  <h3>{{ year }}</h3>

  <ul>
    {% for book in yearBooks %}
    <li>
      <strong>{{ book.title }}</strong> <span class="text_muted">by {{ book.author }}</span></a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
