.page-home {
  @media (min-width: 48em) {
    display: flex;
    justify-content: space-between;
  }
}

.page-home__main {
  @media (min-width: 48em) {
    flex: 1 1 auto;
  }
}

.page-home__aside {
  @media (min-width: 48em) {
    flex: 1 1 var(--readable-line-width);
    padding-left: 4em;
    font-size: 0.875em;
  }
}
