---json
{
  "layout": "layouts/base",
  "langAlternates": [
    {
      "href": "https://andreyromanov.com",
      "lang": "en"
    }
  ],
  "title": "Главная"
}
---
{% from "components/timeline/index.njk" import timeline %}

<div class="page-home">
  <h1 class="visuallyhidden">Андрей Романов</h1>

  <div class="page-home__main content">
    <section>
      <h2 class="visuallyhidden">Обо мне</h2>

      <p>
        <img
          sizes="(max-width: 800px) 100vw, 800px"
          srcset="
          /assets/images/intro/200.jpg 200w,
          /assets/images/intro/295.jpg 295w,
          /assets/images/intro/365.jpg 365w,
          /assets/images/intro/449.jpg 449w,
          /assets/images/intro/514.jpg 514w,
          /assets/images/intro/579.jpg 579w,
          /assets/images/intro/642.jpg 642w,
          /assets/images/intro/800.jpg 800w"
          src="/assets/images/intro/800.jpg"
          alt="Personal photo"
          height="534"
          width="800"
        >
      </p>

      <p>Привет! Я живу в <s>Омске</s> → Москве и разрабатываю интерфейсы в <s>Innova</s> → <s>Avito</s> → <s>Sticker.place</s> → Joom. Люблю дизайн и музыку.</p>

      <p>С 2014 года веду <a href="https://forwebdev.ru">For Web</a>, одно из крупнейших русскоязычных <span class="nobr">фронтенд-сообществ</span> в <a href="https://vk.com/forwebdev"><span class="caps">ВК</span></a>, <a href="https://t.me/forwebdev">Телеграме</a> и <a href="https://twitter.com/forwebdev">Твитере</a>.</p>

      <p class="paragraph">Веду <a href="/notes">блог</a> и <a href="https://t.me/andrew_r_notes">канал в Телеграме</a>. Писал и переводил статьи на <a href="http://frontender.info/">Frontender Magazine</a>, <a href="https://habrahabr.ru/users/andrew-r">Хабрахабре</a>, <a href="https://forwebdev.ru/">Форвебе</a> и <a href="https://hexlet.io/blog">Хекслете</a>.</p>
    </section>
  </div>

  <aside class="page-home__aside content">
    <section>
      <h2>Инструменты</h2>
      {% set comma = joiner() %}
      <p>Что облегчает мне жизнь: {% for tool in tools %}{{ comma() }} <a href="{{ tool.url }}">{{ tool.name }}</a>{% endfor %}</p>
    </section>

    <section>
      <h2>Таймлайн</h2>
      <p>Визуализация длительности жизни. Каждая клетка — одна неделя. В строке 52 недели, или 1 год. Прошедшие недели автоматически закрашиваются.</p>
      {{ timeline() }}
    </section>
  </aside>
</div>
