---
layout: layouts/base
title: Bookmarks
description: Things I find worth sharing
---
{% from "components/bookmark/index.njk" import bookmarkView %}

<div class="content">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
</div>

{% for bookmark in bookmarks | sort(true, false, 'timestamp') %}
  {{ bookmarkView(bookmark) }}
{% endfor %}
