{% macro header(class, page, site) %}
<header class="header {{class}}">
  <img class="header__avatar" src="/assets/images/avatar.jpg" alt="Personal photo">

  <div class="header__content">
    <h1 class="header__title">Andrey Romanov</h1>
    <nav>
      <ul class="navigation">
        {% for navigationLink in site.navigationLinks %}
          <li class="navigation__item">
            <a
              class="link{% if page.url === navigationLink.url %} link_active{%endif%}"
              href="{{navigationLink.url}}"
            >
              {{navigationLink.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
{% endmacro %}
