---
layout: layouts/base
title: Bookshelf
description: Andrey’s bookshelf
---
{% from "components/book/index.njk" import bookCard %}

<div class="content">
  <h2>{{ title }}</h2>
</div>

{% for book in bookshelf %}
  {{ bookCard(book) }}
{% endfor %}
