.article .highlight
{
  @include readable-text-width();
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 2em 1.5em 1em;
  background-color: #d9eeff;
}

.article .highlight :first-child
{
  margin-top: 0;
}

.article .highlight :last-child
{
  margin-bottom: 0;
}
