.article p + :matches(ul, ol) {
  margin-top: -0.75em;
}

.article :matches(ul, ol) {
  @include readable-text-width();
  margin: 0;
  padding-left: 1em;

  @media (min-width: 480px) {
    padding-left: 2em;
  }
}

.article :matches(ul, ol) li {
  margin-bottom: 0.5em;
}

.article ul {
  list-style: none;
}
