{% from "components/rating/index.njk" import ratingView %}

{% macro tvShowView(tvShow) %}
<article class="h-entry" id="{{ tvShow.fileSlug }}">
  <div class="text_muted">
    <time datetime="{{ tvShow.date | dateToIsoString }}" itemprop="datePublished">
      {% formatDate tvShow.date %}
    </time>
    •
    {{ ratingView(tvShow.data.rating) }}
  </div>

  <h2><a href="{{ tvShow.data.url }}" class="p-name">{{ tvShow.data.title }}</a></h2>

  {% if tvShow.templateContent %}
    <div class="e-content">{{ tvShow.templateContent | safe }}</div>
  {% endif %}
</article>
{% endmacro %}
