---
title: Andrey Romanov, front-end web developer
description: I live in Moscow (Russia) and work at Sticker.place. I’m passionate about design and music.
---
{% from "components/header/index.njk" import header %}
{% from "components/footer/index.njk" import footer %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {% if coverUrl %}
    <meta property="og:image" content="{{ coverUrl }}">
    {% endif %}

    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/index.css">
    <link rel="alternate" href="/notes/feed.xml" type="application/atom+xml" />
  </head>

  <body>
    <div class="page">
      {{ header(class='page__header', page=page, site=site) }}

      <main class="page__content">
        {{ content | safe }}
      </main>

      {{ footer(class='page__footer', site=site) }}
    </div>
  </body>

</html>
