{% from "components/rating/index.njk" import ratingView %}

{% macro movieView(movie) %}
<article class="h-entry" id="{{ movie.fileSlug }}">
  <div class="text_muted" >
    <time datetime="{{ movie.date | dateToIsoString }}" itemprop="datePublished">
      {% formatDate movie.date %}
    </time>
    •
    {{ ratingView(movie.data.rating) }}
  </div>

  <h2><a href="{{ movie.data.url }}" class="p-name">{{ movie.data.title }}</a></h2>

  {% if movie.templateContent %}
    <div class="e-content">{{ movie.templateContent | safe }}</div>
  {% endif %}
</article>
{% endmacro %}
