.content h2,
.content h3,
.content p,
.content img {
  margin: var(--typo-baseline) 0;
}

.content :matches(h2, h3) + :matches(p, ul),
.content p + ul {
  margin-top: calc(var(--typo-baseline) * -0.5);
}

.content img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
