pre {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  color: #000;
  background-color: #f7f7f7;
}

pre::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  right: -1rem;
  bottom: 0;
  background-color: #f7f7f7;
}

pre code {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: 0.875em;
  padding: 0.5em;
}
