---
layout: base
---
<article class="article" itemtype="http://schema.org/BlogPosting" itemscope="">
  <header  class="article__header">
    {% if cover %}
      <img src="{{ cover.url }}" alt="{{ cover.alt }}" width="{{ cover.width }}" height="{{ cover.height }}">
    {% endif %}

    <time class="text_muted" datetime="{{ date | dateToIsoString }}" itemprop="datePublished">
      {% formatDate date %}
    </time>

    <h1 itemprop="name headline">{{ title }}</h1>
  </header>

  <div class="content" itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
