---
layout: layouts/base
title: Bookshelf
description: Andrey’s bookshelf
---
{% from "components/book/index.njk" import bookCard %}

<h1>{{ title }}</h1>

{% for book in bookshelf %}
  {{ bookCard(book) }}
{% endfor %}
