.article__cover {
  margin-bottom: var(--typo-baseline);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.article__time {
  color: var(--color-text-muted);
}

.article__title {
  margin-top: 0;
  margin-bottom: var(--typo-baseline);
}
