.article__cover {
  margin-bottom: var(--typo-baseline);
  border: 1px solid var(--color-border);
}

.article__time {
  color: var(--color-text-muted);
}

.article__title {
  margin-top: 0;
  margin-bottom: var(--typo-baseline);
}
