blockquote {
  font-size: 1.125rem;
  max-width: var(--readable-line-width);
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}

blockquote::before {
  content: '“';
  font-size: 3rem;
  left: 0;
  line-height: 1;
  position: absolute;
  top: -0.125rem;
  opacity: 0.2;
}

blockquote footer {
  font-size: 1rem;
  text-align: right;
}

blockquote cite {
  font-style: normal;
}
