.link_unstyled,
.link_unstyled:matches(:hover, :focus, :active, :visited) {
  color: inherit;
  text-decoration: none;
}

a:not(.link_unstyled),
.link:not(.link_unstyled) {
  border-bottom: thin solid var(--color-link-underline);
  color: var(--color-link);
  text-decoration: none;

  &:matches(:hover, :active) {
    border-bottom-color: var(--color-link-underline-hover);
    color: var(--color-link-hover);
  }
}

.link_active:not(.link_unstyled),
.link_active:not(.link_unstyled):matches(:hover, :active) {
  border-bottom-color: transparent;
  background-color: var(--color-primary-light);
  box-shadow: 0 0 0 3px var(--color-primary-light);
  color: #fff;
}
