h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--readable-line-width);
  margin: 0;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.25rem;

  @media (min-width: 40rem) {
    font-size: 2.75rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media (min-width: 40rem) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1rem;
}
