---json
{
  "layout": "base",
  "title": "Заметки",
  "description": "Articles and notes on everything",
  "alternates": [
    {
      "href": "feed.xml",
      "type": "application/atom+xml"
    }
  ]
}
---

<div class="content">
  <h1>{{ title }} <sup><a class="caps" href="feed.xml">RSS</a></sup></h1>

  {% for year, posts in collections.notes | groupByPublicationYear %}
  <section>
    <h2>{{ year }}</h2>

    <table class="dated-table">
      <tbody>
        {% for post in posts %}
          <tr>
            <td>
              <time datetime="{{ post.date | dateToIsoString }}">{% formatShortDate post.date %}</time>
            </td>
            <td>
              <a href="{{ post.url }}">{{ post.data.title }}</a> {{ '★' if 'favouriteNotes' in post.data.tags }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endfor %}
</div>
