{% macro bookCard(book) %}
  <section>
    <h2>
      {{ book.title }}

      {% if book.state === 'dropped' %}
        <sup class="text_muted">dropped</sup>
      {% endif %}
    </h2>

    <p class="text_muted">by {{ book.author }}</p>

    {% if book.progress %}
      <meter value="{{ book.progress.current / book.progress.total }}">
        read {{ book.progress.current }} {{ 'page' if book.progress.current % 10 === 1 else 'pages' }} of {{ book.progress.total }}
      </meter>
    {% endif %}

    {% if book.review %}
      <p>{{ book.review }}</p>
    {% endif %}
  </section>
{% endmacro %}
