{% macro bookmarkView(bookmark) %}
<section class="bookmark">
  <h2><a href="{{ bookmark.data.url }}">{{ bookmark.data.title }}</a></h2>
  {{ bookmark.templateContent | safe }}
</section>
{% endmacro %}
