{% macro footer(class, site) %}
<footer class="footer {{ class }}">
  <ul class="navigation">
    <li class="navigation__item"><a href="https://github.com/andrew--r">GitHub</a></li>
    <li class="navigation__item"><a href="https://twitter.com/andrew__romanov">Twitter</a></li>
    <li class="navigation__item"><a href="https://t.me/andrew_r">Telegram</a></li>
    <li class="navigation__item"><a href="{{site.url}}/notes/feed.xml">RSS</a></li>
  </ul>
</footer>
{% endmacro %}
