.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 0 1.5em;
  font-size: var(--typo-size-s);
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
}

.footer__disclaimer {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.footer .navigation {
  font-size: 1em;
}
